{%  extends 'carpool/main.html' %}

{% block content %}

<h2><span class="badge badge-pill badge-info">Instructions</span></h2>
<div>
    <p>
        Welcome to Carpool by Team Fiducia, a website clearly and helpfully designed to help reduce carbon emissions and get you where you need to go, doing something for yourself and the planet! This guide is to help you navigate our website and make your experience as easy as possible.
    </p>

    <p>
        The first thing you will see when entering our website is the front page where you can request to log in if you already have an account or sign up if you don't. Remember when creating your password that it has to be at least 8 characters long and cannot be similar to your username or  a commonly used password, so we can protect your data. Then you can go ahead and set up a carpool.
    </p>

    <p>
        The first thing you'll want to do is head over to your member profile. If you've already filled this out then don't worry! It's still there. But this must be done before you first use our website. If you have a car, then please fill out all boxes as directed. However, if you are without a car and still in need of a ride, please put N/A for your driver's license number and the date your driver's license is valid until. Don't forget to press submit, and remember that those details will stay there so you can easily edit them if needed.
    </p>

    <p>
        If you do have a car, you'll also want to head over to our car registration page and fill out all boxes as requested. When you press input, you'll see your car listed in the table underneath the questions. You can edit, add or remove these cars as needed from the table.
    </p>

    <p>
        If you are planning to be a driver, then you'll want to head to the page listed 'Create A Ride'. Fill in all boxes as requested but take care when entering the date and time of your car journey. It must be formatted 'year-month-day hours:minutes'. For example '2022-05-17 16:05'. Once you are done, input the details and you'll see everything in the table below. Again, you can edit, add and remove rides if you need to. This ride will be shown to passengers and you can head to 'Accept/Reject Ride' to see if anyone has asked to join the carpool. The details will pop up on the page with the option to accept or refuse the request. The details will also show up on your ride status page.
    </p>

    <p>
        If you are a passenger, you need to head to the page 'Request a Ride'. You can simply scroll through the table to find a ride, but to make things easier, you can filter through the rides by the questions at the top. The table will show results within an hour of your requested start time. The driver will then see that you have requested to join the carpool and can accept or reject your request, and you can see this on your ride status page.
    </p>

    <p>
        Don't forget to check out the leaderboard every time you're on our page - it'll show how you're doing on the website!
    </p>

    <p>
        Thank you for using Carpool and please have a safe journey, helping the world while you help yourself.
    </p>

</div>

{% endblock %}